#homepage {
  height: 100%;
  background-color: #f1f1f1;
}

#toolbar {
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 1;
  height: 60px;
  top: 0;
  width: 100%;
  /* background-color: #333333;
  color: #f1f1f1; */
  color: #333333;
}

.toolbarButton {
  max-height: 40px;
  font-size: 25px;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.toolbarButton:hover {
  transition: color 0.4s ease 0s;
  color: #FFDA6B;
}

#header {
  position: relative;
  background-image: url("images/white-wall.jpg");
  min-height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  color: #333333;
}

.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #f1f1f1;
}

#about {
  width: 75%;
  padding-top:40px;
  padding-bottom:60px;
  background-color: #f1f1f1;
}

#body2 {
  display: block;
  width: 100%;
  background-color: #b6eadd;
}

#resume {
  display: block;
  text-align: center;
}

#footer {
  display: block;
  position: relative;
  align-items: center;
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: #f1f1f1;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
}