#homepage {
  height: 100%;
  width: auto;
  background-color: #f1f1f1;
}

#toolbar {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 1;
  height: 60px;
  top: 0;
  right: 0;
  width: auto;
  opacity: .83;
  color:  #010206;
}

.toolbarButton {
  max-height: 40px;
  font-size: 2vw;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
}

.toolbarButtonActive {
  max-height: 40px;
  font-size: 2vw;
  padding-top: 0px;
}

.toolbarButton:hover {
  transition: color 0.4s ease 0s;
  color: #333333;
  cursor: pointer;
}

#header {
  position: relative;
  background-image: url("images/IMG_0001.jpg");
  min-height: 100%;
  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#greeting {
  position: absolute;
  font-size: 4vw;
  top: 45%;
  left: 58%;
  opacity: .8;
  display: inline-block;
  padding-left: 6px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-family: "LuloCleanW01-OneBold";
  background-color: #010206;
  color: #f1f1f1;
}

.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: #f1f1f1;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding-top:40px;
  padding-bottom:30px;
  background-color: #f1f1f1;
}

#body2 {
  display: block;
  width: 100%;
  background-color: #b6eadd;
}

#resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  /* background-color: #afbec9; */
  background-color: #37a7bb10;
}

#resumeLink {
  color: #333333;
  padding-top: 20px;
  text-decoration: none;
  font-weight: bold;
}

#resumeLink:hover {
  transition: color 0.4s ease 0s;
  color: #2e7a8b;
  cursor: pointer;
}

#footer {
  display: block;
  position: relative;
  align-items: center;
  height: 40px;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: #f1f1f1;
}

#contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}

#contactButton {
  height: 10%;
  width: 15%;
  background-color: rgb(248, 195, 34);
  color:#f1f1f1;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

#messageIcon {
  width: 15%;
}

@font-face {font-family: "LuloCleanW01-OneBold"; src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot"); src: url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/39a2c7f346d5cfae7045aeb2fb50d9ad.svg#LuloCleanW01-OneBold") format("svg"); }

p {
  text-align: center;
}

h1 {
  color: #589092;
}

body, html {
  height: 100%;
}

#root {
  height: 100%;
}